POSTGRES_DB=catalog-service
POSTGRES_USER=catalog-service
POSTGRES_PASSWORD=catalog-service
SPRING_DATASOURCE_URL=jdbc:postgresql://catalog-service-postgres:5432/catalog-service
SPRING_DATASOURCE_USERNAME=catalog-service
SPRING_DATASOURCE_PASSWORD=catalog-service