POSTGRES_DB=auth-service
POSTGRES_USER=auth-service
POSTGRES_PASSWORD=auth-service
SPRING_DATASOURCE_URL=jdbc:postgresql://auth-service-postgres:5432/auth-service
SPRING_DATASOURCE_USERNAME=auth-service
SPRING_DATASOURCE_PASSWORD=auth-service