POSTGRES_DB=payment-service
POSTGRES_USER=payment-service
POSTGRES_PASSWORD=payment-service
SPRING_DATASOURCE_URL=jdbc:postgresql://payment-service-postgres:5432/payment-service
SPRING_DATASOURCE_USERNAME=payment-service
SPRING_DATASOURCE_PASSWORD=payment-service