POSTGRES_DB=delivery-service
POSTGRES_USER=delivery-service
POSTGRES_PASSWORD=delivery-service
SPRING_DATASOURCE_URL=jdbc:postgresql://delivery-service-postgres:5432/delivery-service
SPRING_DATASOURCE_USERNAME=delivery-service
SPRING_DATASOURCE_PASSWORD=delivery-service