POSTGRES_DB=inventory-service
POSTGRES_USER=inventory-service
POSTGRES_PASSWORD=inventory-service
SPRING_DATASOURCE_URL=jdbc:postgresql://inventory-service-postgres:5432/inventory-service
SPRING_DATASOURCE_USERNAME=inventory-service
SPRING_DATASOURCE_PASSWORD=inventory-service